{{#each pages as |page|}}

  <!-- Show Pages -->
  <div>
    <div class>
    <div >
      <button type="button" data-id="{{page._id}}"class="btn btn-success show-page-button btn-group btn-group-justified">{{page.title}}</button>
    </div>

    </div>

    <!--
    <div class="col-xs-4 col-centered box">
      <div class="content-{{page._id}} content">content: {{page.content}}</div>

    </div>
  -->
  </div>

{{/each}}
