{{#each blogposts as |blogpost|}}

  <!-- Show Pages -->
  <div class="row row-centered">
    <div class="col-xs-4 col-centered box">
      <div class="content-{{blogpost.id}} content page-name">blog: {{blogpost.title}} </div>
    </div>
    <div class="col-xs-4 col-centered box">
      <div class="content-{{blogpost.id}} content page-due">content: {{blogpost.content}}</div>
    </div>
  </div>

{{/each}}
