$white: #fff;
$green: #3dc85e;
$black: #000;
$babyblue: #0dc4ff;
$yellow: #ffe000;
$bs-red: #d9534f;
$bs-hover-red: #d43f3a;
$blue: #0002ff;
$purple: #6f04ff;
$orange: #ff6a00;
$limegreen: #b8ff04;
$pink: #ff70c8;
$brown: #734f27;
$bs-green:#5cb85c;
$bs-hover-green:#398439;
