$white: #fff;
$green: #3dc85e;
$black: #000;
$babyblue: #0DC4FF;
$yellow: #FFE000;
$red: #FF0910;
$blue: #0002FF;
$purple: #6F04FF;
$orange: #FF6A00;
$limegreen: #B8FF04;
$pink: #FF70C8;
$brown: #734F27;
