h1 {
  color: $white;
  font-size: 40px;
  text-align: center;
}

.dashboard-title {
  color: $white;
  font-size: 20px;
  text-align: center;
}


body {
  background-image: url('./lookup.jpg');
  background-repeat: repeat;
  // background-size: 1080px 1080px;
  background-size: cover;
  }


.nav > li > a {
  color: $white;
  }

.nav > li > a:hover {
  background-color: $pink;
  color: $white;
}

.combo-modal {
  color: $babyblue;
}

.crud-buttons {
  text-align: right;
}

.blog-post {
  margin: 0 auto;
}

.post-container {
  color: $white;
  margin: 0 auto;
}

.blog-edit {
  color: $pink;
}


.show-my-posts {
  top: 150px;
  right: 10px;
  position: fixed;
}

.show-posts {
  top: 200px;
  right: 10px;
  position: fixed;
}

.text-submit {
  left: 250px;
  top: 123px;
  position: relative;
}

.text-box {
  left: 300px;
  top: 50px;
  position: relative;
}

.title-post {
  left: 274px;
  top: 45px;
  position: relative;
}

.user-list {
  float: right;
}

.my-blogposts-header, .my-pages-header {
  color: $white;
  float: center;
  font-size: 25px;
}
